
#container {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  font-family: helvetica;
}

h1 {
  margin: 0;
  font-size: 200px;
}

button {
  font-size: 48px;
  width: 96px;
  margin: 0 8px;
  border: none;
  background-color: #007bff;
  color: #fff;
}
